* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

.fixed {
  position: fixed;
  bottom: 100px;
  right: 50px; }
  .fixed img {
    width: 50px;
    height: 50px; }

header {
  background-color: #17aacf;
  position: sticky;
  top: 0;
  padding: 20px; }
  header nav h1 a {
    color: #00c3ff;
    text-decoration: none; }
  header nav div div ul li {
    display: flex;
    align-items: center; }
    header nav div div ul li a {
      color: #00c3ff;
      text-decoration: none; }

.ofertas h2 {
  font-size: 60px;
  color: #fcfcff;
  text-align: center;
  background-color: black;
  padding: 12px; }

.ofertas div {
  background-color: gray;
  display: flex;
  margin: 00px;
  justify-content: space-around;
  flex-wrap: wrap; }
  .ofertas div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .ofertas div div img {
      width: 298px;
      height: 340px; }
    .ofertas div div h3 {
      margin-top: 25px;
      margin-bottom: 20px; }

.boton {
  text-decoration: none;
  color: #0427be;
  background-color: #0e70e0;
  font-size: 40px;
  font-weight: 900;
  padding: 5px; }

.hero {
  background-color: gray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 60px;
  padding: 12px;
  margin: 00; }
  .hero h4 {
    font-size: 40px;
    text-align: center; }
  .hero img {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 350px;
    height: 300px; }

/*!-------css-productos------*/
.carniceria h2 {
  font-size: 60px;
  color: #1212c2;
  text-align: center;
  background-color: black;
  padding: 2%; }

.carniceria div {
  background-color: #632d2d;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 8%; }
  .carniceria div div {
    border: 1px solid rgba(255, 11, 11, 0.973);
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #252121;
    color: white;
    margin: 20px;
    padding: 0px; }
    .carniceria div div img {
      max-width: 100%;
      height: 100%; }

.achuras h2 {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 12px; }

.achuras div {
  background-color: #632d2d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .achuras div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .achuras div div img {
      width: 298px;
      height: 340px; }

.polleria h2 {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 12px; }

.polleria div {
  background-color: #632d2d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .polleria div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .polleria div div img {
      width: 298px;
      height: 340px; }

.cerdo h2 {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 12px; }

.cerdo div {
  background-color: #632d2d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .cerdo div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .cerdo div div img {
      width: 298px;
      height: 340px; }

.contactanos {
  background: #181818;
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif; }
  .contactanos div {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .contactanos div h1 {
      text-align: center;
      font-size: 3em; }
      .contactanos div h1 span {
        color: red; }
    .contactanos div div {
      box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
      padding: 1em; }
      .contactanos div div div {
        background: #222222; }
        .contactanos div div div form {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          .contactanos div div div form p {
            margin: 0;
            padding: 1em; }
            .contactanos div div div form p label {
              display: block; }
            .contactanos div div div form p input {
              width: 100%;
              padding: .7em;
              border: none;
              background: none;
              outline: 0;
              color: #fff;
              border-bottom: 1px solid #d63031; }
          .contactanos div div div form .block {
            grid-column: 1 / 3; }
            .contactanos div div div form .block button:hover,
            .contactanos div div div form .block form:focus {
              background: #d63031;
              color: #fff;
              transition: background-color 1s ease-out;
              outline: 0; }
            .contactanos div div div form .block button {
              width: 100%;
              padding: .7em;
              border: none;
              background: none;
              outline: 0;
              color: #fff;
              border-bottom: 1px solid #d63031; }
            .contactanos div div div form .block textarea {
              width: 100%;
              padding: .7em;
              border: none;
              background: none;
              outline: 0;
              color: #fff;
              border-bottom: 1px solid #d63031; }
      .contactanos div div div {
        background: #000; }
        .contactanos div div div h4 {
          text-align: center;
          margin: 0 0 1rem 0; }
        .contactanos div div div ul {
          list-style: none;
          padding: 0;
          text-align: center;
          margin: 0 0 1rem 0; }
        .contactanos div div div p {
          text-align: center;
          margin: 0 0 1rem 0; }

.historia {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 90px;
  margin: 20px; }
  .historia h2 {
    color: #333;
    text-align: center;
    font-size: 50px; }
  .historia p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center; }

.ubicacion {
  justify-content: center;
  background-color: #fff;
  padding: 40px;
  margin: 20px;
  border-radius: 90px; }
  .ubicacion h4 {
    font-size: 60px;
    color: rgba(15, 68, 211, 0.651);
    text-align: center; }
  .ubicacion p {
    font-size: 26px;
    line-height: 1.6;
    text-align: center; }
  .ubicacion div {
    display: flex;
    flex-direction: column;
    align-items: center; }

.galeria {
  text-align: center;
  margin: 20px;
  background-color: #F0F8FF; }
  .galeria h2 {
    font-size: 60px;
    color: #fcfcff;
    text-align: center;
    background-color: black;
    padding: 12px; }
  .galeria div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 40px; }
    .galeria div img {
      max-width: 100%; }

footer {
  background-color: #503d09;
  padding: 30px; }
  footer p {
    text-align: center;
    color: white;
    font-size: 30px; }
  footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer div h4 {
      font-size: 30px;
      color: white; }
    footer div div a img {
      width: 55px;
      height: 55px; }

@media (max-width: 768px) {
  .ofertas h2 {
    font-size: 30px;
    padding: 8px; }
  .ofertas div div {
    width: 332px;
    height: 500px;
    margin: 10px 0;
    padding: 10px; }
  .ofertas div h3 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .boton {
    font-size: 18px;
    padding: 4px 8px; }
  .hero img {
    font-size: 18px;
    width: 330px;
    height: 200px; } }

@media (max-width: 768px) {
  .carniceria h2 {
    font-size: 30px; }
  .grid-carniceria {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px; }
  .grid-carniceria div {
    margin: 10px;
    padding: 10px; } }

@media (max-width: 768px) {
  .polleria h2 {
    font-size: 40px; }
  .polleria div div {
    width: 332px;
    height: 500px;
    margin: 20px;
    padding: 10px; }
  .polleria div div img {
    max-width: 298px;
    max-height: 340px; } }

@media (max-width: 768px) {
  .achuras h2 {
    font-size: 30px; }
  .achuras div div {
    width: 332px;
    height: 500px;
    margin: 20px;
    padding: 10px; }
  .achuras div div img {
    max-width: 298px;
    max-height: 340px; } }

@media (max-width: 768px) {
  .cerdo h2 {
    font-size: 40px; }
  .cerdo div div {
    width: 332px;
    height: 500px;
    margin: 20px;
    padding: 10px; }
  .cerdo div div img {
    max-width: 298px;
    max-height: 340px; } }

@media (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

@media (max-width: 768px) {
  .historia {
    padding: 20px;
    border-radius: 30px; }
  .historia h2 {
    font-size: 30px; }
  .historia p {
    font-size: 16px; } }

@media (max-width: 768px) {
  .ubicacion {
    padding: 20px;
    border-radius: 30px; }
  .ubicacion h4 {
    font-size: 40px; }
  .ubicacion p {
    font-size: 20px; }
  .ubicacion iframe {
    max-width: 290px;
    min-height: 290px; } }

@media (max-width: 768px) {
  .galeria h2 {
    font-size: 40px; } }
