* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #17aacf;
  position: sticky;
  top: 0;
  padding: 20px; }
  header nav h1 a {
    color: #00c3ff;
    text-decoration: none; }
  header nav div div ul li {
    display: flex;
    align-items: center; }
    header nav div div ul li a {
      color: #00c3ff;
      text-decoration: none; }

.ofertas h2 {
  font-size: 60px;
  color: #fcfcff;
  text-align: center;
  background-color: black;
  padding: 12px; }

.ofertas div {
  background-color: #436666;
  display: flex;
  margin: 00px;
  justify-content: space-around;
  flex-wrap: wrap; }
  .ofertas div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .ofertas div div img {
      width: 298px;
      height: 340px; }
    .ofertas div div h3 {
      margin-top: 25px;
      margin-bottom: 20px; }

.boton {
  text-decoration: none;
  color: #0427be;
  background-color: #0e70e0;
  font-size: 40px;
  font-weight: 900;
  padding: 5px; }

.hero {
  background-color: #744040;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 60px;
  padding: 12px;
  margin: 00; }
  .hero h4 {
    font-size: 40px;
    text-align: center; }
  .hero img {
    display: flex;
    align-self: center;
    width: 990px;
    height: 600px; }

.ubicacion {
  background-color: rgba(183, 183, 201, 0.616); }
  .ubicacion h4 {
    font-size: 60px;
    color: brown;
    text-align: center; }
  .ubicacion div {
    display: flex;
    flex-direction: column;
    align-items: center; }

.opinion {
  background-color: rgba(4, 14, 61, 0.671);
  display: flex;
  flex-direction: column; }
  .opinion div h4 {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; }

.fixed {
  position: fixed;
  bottom: 100px;
  right: 50px; }
  .fixed img {
    width: 50px;
    height: 50px; }

/*!-------css carniceria------*/
.carniceria h2 {
  font-size: 60px;
  color: #1212c2;
  text-align: center;
  background-color: black;
  padding: 2%; }

.carniceria div {
  background-color: #539397;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center; }
  .carniceria div div {
    border: 1px solid rgba(255, 11, 11, 0.973);
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #252121;
    color: white;
    margin: 40px;
    padding: 20px; }
    .carniceria div div img {
      max-width: 100%;
      height: auto; }

/*-----css achuras------*/
.info-achuras p {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: #7e4646;
  padding: 12px; }

.achuras h2 {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 12px; }

.achuras div {
  background-color: #632d2d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .achuras div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .achuras div div img {
      width: 298px;
      height: 340px; }

/*----- css poleria ------*/
.polleria h2 {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 12px; }

.polleria div {
  background-color: #632d2d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .polleria div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .polleria div div img {
      width: 298px;
      height: 340px; }

/*------css embutidos------*/
.cerdo h2 {
  font-size: 60px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 12px; }

.cerdo div {
  background-color: #632d2d;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .cerdo div div {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px; }
    .cerdo div div img {
      width: 298px;
      height: 340px; }

footer {
  background-color: #503d09;
  padding: 30px; }
  footer p {
    text-align: center;
    color: white;
    font-size: 30px; }
  footer div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer div h4 {
      font-size: 30px;
      color: white; }
    footer div div a img {
      width: 55px;
      height: 55px; }

@media (max-width: 576px) {
  .ofertas h2 {
    font-size: 30px;
    padding: 8px; }
  .ofertas div div {
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 10px; }
  .ofertas div h3 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .boton {
    font-size: 18px;
    padding: 4px 8px; }
  .hero img {
    font-size: 18px;
    width: 330px;
    height: 200px; }
  .ubicacion h4 {
    font-size: 40px;
    padding: 8px; }
  .mapa {
    width: 340px;
    height: 250px; } }

@media (max-width: 576px) {
  .grid-carniceria {
    grid-template-columns: repeat(1, 1fr); }
  .carniceria h2 {
    font-size: 40px;
    padding: 3%; }
  .grid-carniceria .grid-item {
    width: 100%;
    margin: 15px 0; }
  .grid-carniceria div img {
    max-width: 100%;
    height: auto; } }
